* {
  margin: 0;
 }

 

 .header {
    width: 100%;
    height: auto;
    border-bottom: 4px solid #203957;
    display: flex;
    background-color: teal;
  }
  
  .my-photo {
    width: 27%;
    max-width: 340px;
    height: 310px;
    padding-top: 20px;
    background-color:#373839;
    }
  
    .perfil {
      width: 260px;
      height: auto;
      position: absolute;
      padding-left: 30px;
    }


  .header-content {
    width: 73%;
    height: auto;
    margin-right: 20px;
    margin-bottom: 20px;
    max-width: 100%;
    margin-top:20px;
    padding-right: 100px;
    text-align: justify;
    padding-left: 10px;
    border-left: 2px solid #203957;
    border-right: 3px solid #203957;
    background-color: teal;

    }

  .header-content-name{
    width: 22%;
    max-width: 300px;
    font-family: Times New Roman;
    font-size: 21px;
    position: absolute;
    color: white;
    padding-left: 10px;
    margin-left: 10px;
    background-color: #203957;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 220px;
    border-radius: 10px;
   }
    
  .header-otros {
    color: white;
    font-weight: bolder;
    background-color: #203957;
    padding: 3px;  
    font-family: sans-serif;
    display: inline-block;
    margin: 6px;
  }

  .header-about{
    color: white;
    font-weight: bolder;
    background-color: #203957;
    padding: 3px;  
    font-size: 19px;
    font-family: sans-serif;
    display: inline-block;
    margin: 6px;
  }


  .header-descripcion,
  .header-otros2 {
    display: inline-block;
    margin: 0;
    font-family: sans-serif;
    margin: 6px;
  }

  .centro {
    background-color: rgb(245, 245, 247);
    padding-top: 70px;
    padding-bottom: 70px;
    width: 100%;
    height: 100%;
  }
  
  section {
   padding-bottom: 20px;
   font-family: sans-serif;
   text-align: center;
   
 }

  .seccionmain {
    padding-top: 20px;
    padding-bottom: 20px;
  }
 
  .empujar {
    padding-top: 20px;
    padding-bottom: 115px;

  }


 .sectionnegrita {
   font-weight: bolder;
   font-size: 18px;
   font-family: sans-serif;
   text-align: center;
  }
  
  button {
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  
  .experience,
  .studies,
  .language {
    display: none;
    margin: 30px;
  }
  
  .active {
    display: block;
    background-color: #C9C9C9;
    padding: 30px;
    text-align: justify;
  }

  footer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    background-color:#203957;
    letter-spacing: 40px;
    display: flexbox;
    /*position: fixed;;
    bottom: 0;*/
  }  
 
  .sociallinks {
    text-align: center;
  } 
  
  .buttonsize {
    width: 40px;
    height: 40px;
  }

  b:hover {
    color:#035680 ;
  }

  .header-otros2:hover {
    font-size: 115%;
    font-weight: bolder;
  }

  .buttonsize:hover {
    width: 45px;
    height: 45px;
  }